*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style-type: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(168, 209, 180);
    padding: 20px;
}

.logo{
    width: 5%;
    border-radius: 20px;
    min-width: 50px;
    height: auto;
    border-radius: 20px;
}

.buscador {
    display: flex;
}

.buscador input{
    padding: 8px 15px;
    border: 2px solid green;
    border-radius: 20px;
}

.buscador button{
    padding: 8px 15px;
    border: 2px solid green;
    border-radius: 20px;
}

.buscador button:hover{
    background-color: rgb(50, 97, 50);
}

.user-nav{
    display: flex;
    gap: 20px;
}

main{
    padding: 20px;
}

.section-products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.product{
    background-color: rgb(167, 226, 185);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 20%;
}

.product img{
    border-radius: 10px;
    width: 75%;
}


.product h3{
    margin: 10px 0;
}

.product a{
    margin: 0 10px;
    padding: 5px;
}

.product a:hover{
    background-color: rgb(43, 110, 60);
}

.banner{
    background-image: url('../img/encabezado.jpg');
    background-size: contain;
    height: 130px;
}

.section-comments {
    max-width: 1200px;
    margin: 10px auto;
}

.comments-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Columnas responsivas */
    gap: 20px;
    padding: 20px;
}

.comment {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.comment:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.comment h4 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.comment p {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 10px;
}

.register-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.register-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Limita el ancho del formulario */
    text-align: center;
    
}

.register-form h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo para los grupos de input */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 1em;
    margin-bottom: 8px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #4CAF50; /* Color verde al hacer focus en los inputs */
    outline: none;
}

/* Estilo del botón */
button {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    width: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2ecc71;
}

/* Estilo para la validación de los inputs */
input:invalid {
    border-color:#2ecc71 ;
}

input:valid {
    border-color: #2ecc71;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(168, 209, 180);
    padding: 20px;
}

@media(max-width: 480px){
    header{
    flex-direction: column;
    align-items: center;
    }
    .user-nav{
        flex-direction: column;
        gap: 10px;
    }
    .product{
        width: 90%;
    }
    
}