*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style-type: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(168, 209, 180);
    padding: 20px;
}

.logo{
    width: 5%;
    border-radius: 20px;
    min-width: 50px;
    height: auto;
    border-radius: 20px;
}

.buscador input{
    padding: 8px 15px;
    border: 2px solid green;
    border-radius: 20px;
}

.buscador button{
    padding: 8px 15px;
    border: 2px solid green;
    border-radius: 20px;
}

.buscador button:hover{
    background-color: rgb(50, 97, 50);
}

.user-nav{
    display: flex;
    gap: 20px;
}

main{
    padding: 20px;
}

.section-products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product{
    background-color: rgb(167, 226, 185);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 20%;
}

.product img{
    border-radius: 10px;
    width: 75%;
}


.product h3{
    margin: 10px 0;
}

.product a{
    margin: 0 10px;
    padding: 5px;
}

.product a:hover{
    background-color: rgb(43, 110, 60);
}

.banner{
    background-image: url('../img/encabezado.jpg');
    background-size: contain;
    height: 130px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(168, 209, 180);
    padding: 20px;
}

@media(max-width: 480px){
    header{
    flex-direction: column;
    align-items: center;
    }
    .user-nav{
        flex-direction: column;
        gap: 10px;
    }
    .product{
        width: 90%;
    }
    
}